{% extends "main.html" %}
{% block content %}

<div class="row">
    <form class="col-sm-12" action="" method="post" name="real_estate_search">
        <div class="field">
            {{form.search}}
        </div>
        <div class="field">
            <input class="field" type=submit name='search' value=Search>
        </div>
    </form>
</div>

<div class="row">
    {% for real_estate in all_real_estate %}
    <a href='/modify/{{real_estate.name}}'>
        <div class="field real_estate">
            <h1><strong>Nom : {{real_estate.name}} Description : {{real_estate.description}}</strong></h1>
            {% for room in real_estate.rooms %}
            <div>
                Type : {{room.room_type}}
                Surface : {{room.room_area}}
                Meublé : {{room.room_furniture}}
            </div>
            {% endfor %}
            <h2>Type de bien : {{real_estate.type}} Ville : {{real_estate.city}} Propriétaire : {{real_estate.owner}}</h2>
		</div>
    </a>
	{% endfor %}
</div>


{% endblock %}