{% extends "main.html" %}
{% block content %}

<div class="row">
    <form class="col-sm-12" action="" method="post" name="profile_form">
        <div class="col-sm-4 pipeline-form-select">
            {{ profileForm.last_name }}
        </div>
        <div class="col-sm-4 pipeline-form-input">
            {{ profileForm.first_name }}
        </div>
        <div class="col-sm-4 pipeline-form-input">
            {{ profileForm.birth_date }}
        </div>
        <input type=submit value=Modifier>
    </form>
</div>

{% endblock %}